<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="static/css/style.css" />
  </head>

  <body>
    <header>
      <nav class="nav">
        <div><h1>Logo</h1></div>
        <div>
          <ul class="navList">
            <li>Home</li>
            <li>Berita</li>
            <li>Tentang</li>
          </ul>
        </div>
      </nav>
    </header>
    <main>
      <div id="content">
        <article>
          <div class="banner"></div>
          <h1>
            Menparekraf Dorong Pengembangan Potensi Ekonomi Kreatif Kuliner
            Maros Sulsel
          </h1>
          <p>
            Maros, 23 November 2021 – Menteri Pariwisata dan Ekonomi
            Kreatif/Kepala Badan Pariwisata dan Ekonomi Kreatif, Sandiaga
            Salahuddin Uno, mendorong pelaku ekonomi kreatif khususnya subsektor
            kuliner di Kabupaten Maros, Sulawesi Selatan (Sulsel), untuk
            mengembangkan dan meningkatkan potensi yang dimiliki. Hal ini
            disampaikan Sandiaga saat menghadiri workshop Kabupaten/Kota (KaTa)
            Kreatif di Kantor Bupati Maros, Selasa (23/11/2021). Sandiaga
            menyampaikan bahwa Maros memiliki potensi kuliner yang sangat kaya,
            seperti Jalangkote, olahan kepiting termasuk kerupuk, abon, dan roti
            Maros. Sehingga, ia pun mendorong peningkatan pemasaran
            produk-produk ekonomi kreatif ini melalui pemanfaatan platform
            digital dan peningkatan desain kemasan produk. Serta dikolaborasikan
            dengan program Gerakan Nasional Bangga Buatan Indonesia. “Tadi
            kemasannya sudah kita akan kerja samakan, kemasan-kemasan yang lebih
            rumahan, tradisional akan ditingkatkan melalui kolaborasi Rumah
            Kemasan dari Pemkab Maros dengan program-program Kemenparekraf
            seperti “Beda’kan” (Bedah Desain Kemasan Kuliner Nusantara) dan juga
            fasilitasi pendaftaran HKI (Hak Kekayaan Intelektual) harapannya
            untuk mendorong menggerakkan perekonomian masyarakat kita akan
            onboarding ke program gerakan nasional Bangga Buatan Indonesia
            dengan stimulus Rp50 juta per merchant dan juga dengan voucher
            melalui belanja online nasional. Kami berharap ekspansi pasar ini
            bukan cuma lokal, tapi juga nasional,” kata Sandiaga. Selain itu,
            Sandiaga mengatakan potensi-potensi kuliner yang ada di Kabupaten
            Maros ini juga dapat mengikuti Program Indonesia Spice Up The World
            untuk dipasarkan ke diaspora Sulawesi Selatan di luar negeri.
            “(Tujuannya) agar produk kreatif Maros ini bisa diekspor,” katanya.
            Sandiaga menjelaskan, workshop ini bertujuan untuk mendata para
            pelaku-pelaku ekonomi kreatif di Maros yang nantinya akan dibantu
            secara langsung melalui program-program yang tepat sasaran, tepat
            manfaat, dan tepat waktu. Mulai dari pemasaran, pembiayaan,
            pelatihan, dan pendampingan sekaligus perizinan dan pelaporan
            keuangan.
          </p>
        </article>
      </div>
      <aside>
        <h3>Foto Terkait</h3>
        <ul id="gambar-list">
          <li>
            <img
              src="https://katakreatif.kemenparekraf.go.id/assetsapi/news/1653661644967-kotakreatif-image-45.png"
              alt=""
              srcset=""
            />
          </li>
        </ul>
      </aside>
    </main>
    <footer>
      <div class="left">
        <h2>Tentang</h2>
        <p>
          Program Bantuan Pemerintah (Banper) Infrastruktur Ekonomi Kreatif
          merupakan fasilitasi ruang kreatif yang diberikan sebagai stimulan
          kepada pelaku ekonomi kreatif dalam melakukan aktivitasnya, dalam
          bentuk barang yang berkaitan dengan kebutuhan subsektor ekonomi
          kreatif.
        </p>
      </div>
      <div class="center">
        <h2>Hubungi Kami</h2>
        <p>
          Direktorat Infrastruktur Ekonomi Kreatif Deputi Bidang Pengembangan
          Destinasi dan Infrastruktur Kementerian Pariwisata dan Ekonomi Kreatif
          / Badan Pariwisata dan Ekonomi Kreatif
        </p>
      </div>
      <div class="right">
        <h1>Logo</h1>
        <h1>Logo</h1>
      </div>
    </footer>
  </body>
</html>
